<div style="width:50%; min-width:400px; max-width:800px; margin:50px auto">
<div class="help-holder">
<h3>Forgot your password?</h3>
<div class="help-form">
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", :class=>"form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Send password reset instructions", :class=>"btn btn-light" %>
  </div>
<% end %>
</div>
<%= render "devise/shared/links" %>
</div>
</div>
