<div class="my-container">
<div class="row home-row">
<div class="col-md-2 left-col">
<%= render 'layouts/sidebar_menu' %>
</div>
<div class="col-md-6">

<%= flash[:notice] %>
<%= flash[:alert] %>
<div class="add-request">
<div class="add-request-title-box">Add a Request</div>

<div class="add-request-form">
<%= form_with(url: "/requests/add_request", method: :post, model: @request) do |f| %>
  <div class="form-group">
  <%= f.label "Request:" %><br />
  <%= f.text_area :content, :class => 'form-control',  autocomplete: true, 
  placeholder:"What does fire look like?" %><br />
  <%= f.label "Upload an image (optional):"%>
  <%= f.file_field :image, accept: 'image/png, image/gif, image/jpeg', style:"margin-bottom:8px;"  %><br />
  <%= f.label "Or use an image address:"%>
  <%= f.text_field :image_url, :class => 'form-control', autocomplete: true %><br />
  <%= f.label "Categories (optional):" %><br />
  <%= f.text_field :categories, :class => 'form-control', autocomplete: true, placeholder:"Example: miscellaneous, nature" %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.hidden_field :status, :value => "approved" %>
  </div>
  <div>
  <%= f.submit "Post", :class => "btn btn-light" %>
</div>
<% end %>
</div>
</div>

<div class="answered-requests-home-section-title"> <%= image_tag("squiggle.png",size:"24x24",style:"margin-right:6px;margin-bottom:10px;")%><h3 style="display: inline;"><%= link_to "Answered Requests", requests_answered_path %></h3></div>

<%= render partial: 'layouts/published_posts', locals: { requests_published: @requests_published} %>




</div>
<div class="col-md-4">
<div class="open-requests-home-section-title"> <%= image_tag("squiggle.png",size:"24x24",style:"margin-right:6px;margin-bottom:10px")%><h3 style="display: inline;"><%= link_to "Open Requests", requests_open_path %></h3></div>
<div class="open-requests-section-home">
<div class="open-request-list">
<% if @requests_approved.any? %>
  <% @requests_approved.each do |request| %>
    <%= link_to request_path(request) do %>
      <div class="open-request"><h3><%= request.content %> </h3><% end %>
      <% if request.image.attached? %>
            
      <%= image_tag(request.image, class:"request-open-image-home") %>
      <% end %>
      <div style="text-align:right"><%= button_to "Answer", request_path(request), method: :get, class:"btn btn-light"%></div>
   </div>
    
  <% end %>
  
<% end %>
</div>
</div>
</div>
</div>





