<div class="answered-requests-home-section-title"> <%= image_tag("squiggle.png", alt:"an image of a small cute squiggle just for decoration", size:"24x24",style:"margin-right:6px;margin-bottom:10px;")%><h3 style="display: inline;">Answered Requests</h3></div>
<% if requests_published.any? %>

  <% requests_published.each do |request| %>
    <%= link_to request_path(request) do %>
    <div class="published-request"><h3><%= request.content %></h3>
    <% end %>
    <% if request.image.attached? %>
          <%= cl_image_tag(request.image.key, cloud_name: "hkbjwypvm", class:"request-open-image-show",alt:"image that goes with request: #{request.content}") %>
          <% end %>
    <div class="answer-home"><%= request.descriptions.order(created_at: :desc).first.content %></div>

    </div>
  
  <% end %>
  <% else %>
  <div style="margin:40px;text-align:center;"> <h4>No requests found.</h4></div>
<% end %>