<div class="my-container">
  <div class="row home-row">
    <div class="col-md-3 left-col">
      <div class="categories">
        <div class="title"><h3>Categories</h3></div>
        <div class="category"><%= link_to "All", root_path %></div>
        <div class="category"><%= link_to "Popular", fetch_answered_posts_path(:category => "popular"), :remote => true,data: {type: "script"} %></div>
        <div class="category"><%= link_to "Art", fetch_answered_posts_path(:category => "art"), :remote => true,data: {type: "script"} %></div>
        <div class="category"><%= link_to "Photography", fetch_answered_posts_path(:category => "photography"), :remote => true,data: {type: "script"} %></div>
        <div class="category"><%= link_to "Film", fetch_answered_posts_path(:category => "film"), :remote => true,data: {type: "script"} %></div>
        <div class="category"><%= link_to "Nature", fetch_answered_posts_path(:category => "nature"), :remote => true,data: {type: "script"} %></div>

        <div class="category"><%= link_to "Landmarks", fetch_answered_posts_path(:category => "landmarks"), :remote => true,data: {type: "script"} %></div>
        <div class="category"><%= link_to "People", fetch_answered_posts_path(:category => "people"), :remote => true,data: {type: "script"} %></div>
        <div class="category"><%= link_to "Animals", fetch_answered_posts_path(:category => "animals"), :remote => true,data: {type: "script"} %></div>
        <div class="category"><%= link_to "Objects", fetch_answered_posts_path(:category => "objects"), :remote => true,data: {type: "script"} %></div>
        <div class="category"><%= link_to "Buildings", fetch_answered_posts_path(:category => "buildings"), :remote => true,data: {type: "script"} %></div>
        <div class="category"><%= link_to "History", fetch_answered_posts_path(:category => "history"), :remote => true,data: {type: "script"} %></div>
        <div class="category"><%= link_to "Miscellaneous", fetch_answered_posts_path(:category => "miscellaneous"), :remote => true,data: {type: "script"} %></div>
      </div>
    </div>
    <div class="col-md-9">
      <div id="maincontent" class="answered-requests-section">
        <%= render partial: 'answered_posts', locals: { requests_published: @requests_published} %>
        <%= will_paginate @requests_published %>
      </div>
    </div>
  </div>
</div>