<div class="my-container">
<div class="row home-row">
<div class="col-md-2 left-col">
<%= render 'layouts/sidebar_menu' %>
</div>
<div class="col-md-10">
<div style="width:80%">
<div class="add-request">
  <%= form_with(url: "/api/v1/requests", method: :post, model: @request) do |f| %>
    <div class="form-group">
    <%= f.label "Request:" %><br />
    <%= f.text_area :content, :class => 'form-control',  autofocus: true, 
    placeholder:"What does fire look like?" %><br />
    <%= f.label "Tags (optional):" %><br />
    <%= f.text_field :categories, :class => 'form-control',  autofocus: true, placeholder:"Example: miscellaneous, nature" %><br />
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.hidden_field :status, :value => "approved" %>
    </div>
    <div>
    <%= f.submit "Post", :class => "btn btn-light" %>
  </div>
  <% end %>

</div>
<div>
<% if @requests_approved.any? %>
  <h3><span style="margin-left:20px;">Open Requests</span></h3>
  <% @requests_approved.each do |request| %>
    <div class="open-request"><%= request.content %> 
    <div><button>Answer</button></div>
    <div>thumbs up | 25 | report</div></div>
    
  <% end %>
<% end %>
</div>

</div>

</div>

</div>
</div>