<div class="my-container">
<div class="row home-row">
<div class="col-md-3 left-col">
<div class="categories">
<h3><span style="margin-left:20px;">Categories</span></h3>
<div class="category"><%= link_to "Popular", fetch_open_posts_path(:category => "popular"), :remote => true,data: {type: "script"} %></div>
<div class="category"><%= link_to "Nature", fetch_open_posts_path(:category => "nature"), :remote => true,data: {type: "script"} %></div>

<div class="category"><%= link_to "Landmarks", fetch_open_posts_path(:category => "landmarks"), :remote => true,data: {type: "script"} %></div>
<div class="category"><%= link_to "People", fetch_open_posts_path(:category => "people"), :remote => true,data: {type: "script"} %></div>
<div class="category"><%= link_to "Animals", fetch_open_posts_path(:category => "animals"), :remote => true,data: {type: "script"} %></div>
<div class="category"><%= link_to "Objects", fetch_open_posts_path(:category => "objects"), :remote => true,data: {type: "script"} %></div>
<div class="category"><%= link_to "Buildings", fetch_open_posts_path(:category => "buildings"), :remote => true,data: {type: "script"} %></div>
<div class="category"><%= link_to "Miscellaneous", fetch_open_posts_path(:category => "miscellaneous"), :remote => true,data: {type: "script"} %></div>
</div>

</div>
<div class="col-md-9">

<div class="open-requests-section">
<%= flash[:notice] %>
<%= flash[:alert] %>
<h3>Add a Request</h3>

<div class="add-request">

<div class="add-request-form">
  <%= form_with(url: "/requests/add_request", method: :post, model: @request) do |f| %>
    <div class="form-group">
    <%= f.label "Request:" %><br />
    <%= f.text_area :content, :class => 'form-control',  autocomplete: true, 
    placeholder:"What does fire look like?" %><br />
    <%= f.label "Upload an image (optional):"%>
  <%= f.file_field :image, accept: 'image/png, image/gif, image/jpeg' %><br />
    <%= f.label "Tags (optional):" %><br />
    <%= f.text_field :categories, :class => 'form-control', autocomplete: true, placeholder:"Example: miscellaneous, nature" %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.hidden_field :status, :value => "approved" %>
    </div>
    <div>
    <%= f.submit "Post", :class => "btn btn-light" %>
  </div>
  <% end %>

</div>
</div>
<div id="open-requests-section">

<%= render partial: 'open_posts', locals: { requests_approved: @requests_approved} %>
<%= will_paginate @requests_approved %>
</div>

</div>

</div>

</div>
</div>