<div class="my-container">
<div class="row home-row">
<div class="col-md-2 left-col">
<div class="categories">
<h3><span style="margin-left:20px;">Categories</span></h3>
<div class="category"><%= link_to "Popular", fetch_open_posts_path(:category => "popular"), :remote => true,data: {type: "script"} %></div>
<div class="category">Nature</div>

<div class="category">Landmarks</div>
<div class="category"><%= link_to "People", fetch_open_posts_path(:category => "people"), :remote => true,data: {type: "script"} %></div>
<div class="category">Animals</div>
<div class="category">Objects</div>
<div class="category">Buildings</div>
<div class="category">Miscellaneous</div>
</div>
</div>
<div class="col-md-10">
<div style="width:80%">
<div class="add-request">
  <%= form_with(url: "/requests/add_request", method: :post, model: @request) do |f| %>
    <div class="form-group">
    <%= f.label "Request:" %><br />
    <%= f.text_area :content, :class => 'form-control',  autocomplete: true, autofocus: true, 
    placeholder:"What does fire look like?" %><br />
    <%= f.label "Tags (optional):" %><br />
    <%= f.text_field :categories, :class => 'form-control',  autofocus: true, autocomplete: true, placeholder:"Example: miscellaneous, nature" %><br />
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.hidden_field :status, :value => "approved" %>
    </div>
    <div>
    <%= f.submit "Post", :class => "btn btn-light" %>
  </div>
  <% end %>

</div>
<div id="open-requests-section">

<%= render partial: 'open_posts', locals: { requests_approved: @requests_approved} %>

</div>

</div>

</div>

</div>
</div>