<div class="my-container">
<div style="width:60%; margin:auto; margin-top:50px;">

<h2><%= @request.content %></h2>
<h4>Request Author: <%= link_to User.find(@request.user_id).username, root_path %></h4>
<% if @request.image.attached? %>
          <%= image_tag @request.image, class:"request-open-image-show" %>
          <% end %>
<div class="add-description">
<div class="add-description-title-box">Answer this Request</div>

<div class="add-description-form">
  <%= form_with(url: request_answer_path, method: :post, model: @description) do |f| %>
    <div class="form-group">
    <%= f.label "Description:" %><br />
    <%= f.text_area :content, :class => 'form-control', 
    placeholder:"Visual description goes here." %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.hidden_field :request_id, :value => @request.id %>
    <%= f.hidden_field :status, :value => "published" %>
    </div>
    
    <div>
    <%= f.submit "Answer", :class => "btn btn-light" %>
  </div>
  <% end %>
</div>
</div>
<div> <h4><%=@request.descriptions.length%> <% if @request.descriptions.length==1 %>Answer<% else %>Descriptions<% end %></h4></div>
<div>
<% if @request.status=="published" && @request.descriptions.any? %>
  <% @request.descriptions.each do |desc| %>
    <div class="published-desc">
  <%= desc.content %>
    <h5>Description Author: <%= link_to User.find(desc.user_id).username, root_path %></h5>
    </div>
  <% end %>
<% end %>
</div>

</div>
</div>