<!DOCTYPE html>
<html>
  <head>
    <title>Untold</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= favicon_link_tag asset_path('squiggle.png') %>
  </head>  
  <% if user_signed_in? %>
    <body>
      <nav class="my-nav-bar">
        <div class="nav-title"><h2><%= link_to "untold", root_path %></h2></div>
        <div class="links-nav">
        <%= link_to "Home", root_path %>
        <%= link_to "Contact Us", help_path %>
        <%= link_to "Edit Account", edit_user_registration_path %> 
        <%= link_to('Logout', destroy_user_session_path, method: :delete) %>       
        </div>
      </nav>  

      <%= yield %>
    </body> 
  <% else %>
    <%= yield %>
  <% end %>
</html>
