<!DOCTYPE html>
<html>
  <head>
    <title>UntoldApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('squiggle.png') %>
  </head>

  <body>
    <nav style="text-align: right">
    
      <% if user_signed_in? %>
      <%= link_to "Home", root_path %>
        <%= link_to "Edit Account", edit_user_registration_path %> 
        <%= link_to('Logout', destroy_user_session_path, method: :delete) %>          
      <% else %>
        <%= link_to('Login', new_user_session_path)  %>/<%= link_to('Sign Up', new_user_session_path)  %>  
      <% end %>
    </nav>
    <%= flash[:alert] %>
    <%= flash[:notice] %>
    <%= yield %>
  </body>
</html>
